/*general styling*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 2.5em;
    font-family: cursive;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple, 0 0 50px purple, 0 0 60px purple, 0 0 70px purple;
}

h2{
    font-size: 1.6em;
}

p{
    font-size: 1.1em;
}

img{
    width: 100px;
}
/*utility*/
.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subTitle{
    font-family: cursive;
}

/*phone outline*/
#outline{
    margin: 20px;
    border: 2px solid black;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
}

/*screen*/
#jokeContainer{
    background-color: #89CFF0;
    border: 1px solid gray;
    margin-bottom: 10px; 
    width: 320px;
    height: 320px;
    padding: 10px 5px 25px 5px;
    align-items: flex-start;
    border-radius: 10px;
    text-align: center;
}


#setup{
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(187, 235, 187);
    max-width: 200px;
    border-radius: 20px;
    display: none;
}

.animate {
    animation-duration: 0.4s;
    animation-name: scaleSize;
}

@keyframes scaleSize {
    0%{
        transform: scale(0.50, 0.0)
    }
    10%{
        transform: scale(0.55, 0.55),
    }
    20%{
        transform: scale(0.6, 0.6)
    }
    30%{
        transform: scale(0.65, 0.65)
    }
    40%{
        transform: scale(0.7. 0.7)
    }
    50%{
        transform: scale(0.76, 0.75)
    }
    60%{
        transform: scale(0.8, 0.8)

    }
    70%{
        transform: scale(0.85, 0.85)
    }
    80%{
        transform: scale(0.9, 0.9)
    }
    90%{
        transform: scale(0.95, 0.95)
    }
    100%{
        transform: scale(1.0. 1.0)
    }
}

#revealText{
    display: none;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(247, 188, 197);
    width: 150px;
    border-radius: 20px;
    align-self: flex-end;
    text-align: center;
}

#punchline{
    display: none;
    border: 1px solid gray;
    padding: 10px;
    background-color: rgb(187, 235, 187);
    max-width: 200px;
    border-radius: 20px;
}

/*button*/
button{
    font-size: 1em;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 80px;
    width: 130px;
    height: 50px;
    background-color: white;
}

button:focus, button:hover{
    background-color: lightgray;     
    outline: none;      
}

#restart{
    display: none;
}

/*footer*/
footer{
    margin-top: 20px;
    text-align: center;
}

/*Tablet*/
@media only screen and (min-width: 768px) {
}
  


/*Computer*/
@media only screen and (min-width: 992px) {
}